* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Inter,sans-serif;
  background-color: #282d35;
}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px ;
}


nav >h3 , nav > h4{
  margin: 0;
}

nav > img {
   height: 30px;
   width: 30px;
   margin-right: 7px;
}

nav > h3 {
  margin-right: auto;
  color: #61dafb;
  font-size: 30px;
  font-weight: 700;
}

nav > h4 {
  color: #deebf8;
  font-weight: 600;
}

main{
  display: flexbox;
  color: #deebf8;
  padding : 57px 27px;
  background-repeat: no-repeat;
  background-position: 1250px ;
  background-image: url(./images/logo512.png)
  

}

.main--title {
  margin: 0;
  font-size: 80px;
  letter-spacing: -0.05em;
}


.main--facts {
    margin-top: 46px;
    max-width: 700px;
}

.main--facts > li {
   line-height: 19px;
   font-size: 28px;
   padding-block: 10px ;

}
.main--facts ::marker {
  color: #61dafb;
  font-size: 2rem;

}


.footer{
  color: #deebf8;
  font-size: 25px;
  background-color:#21222A;
  margin-top :100px;
}

.footer--content {
  align-items: center;
  justify-content: center;
  /* margin-left: 500px; */
  display : flex;
}